.dis .container {
  max-width: 1200px;
}

.content_date {
  margin-top: 2rem;
  font-size: 2rem;
}

.dis .title {
  margin-top: 2rem;
  font-size: 3.2rem;
}

.content_img img{
width: 100%;
}

.content {
  margin-top: 5rem;
  padding-top: 3rem;
  border-top: 2px solid var(--black);
}

.content figure {
  margin: auto;
}

.content img {
  width: 100%;
  height: auto;
}

.content p {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.content h1 {
  text-align: start;
  font-size: 3.2rem;
  margin: 2rem 0;
}

.content h2 {
  text-align: start;
  font-size: 2.8rem;
  margin: 1.5rem 0;
}

.dis .link {
  margin-top: 7rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dis .link a {
  font-size: 2rem;
  background-color: var(--blue);
  color: var(--white);
  padding: 2rem;
  width: 100%;
}

.flex-img {
	display: flex;
}

.flex-img figure {
	width: 50%;
	margin: 0;
}

.flex-img figure img {
    height: 35rem;
    object-fit: cover;
}

@media (max-width: 820px) {
  .content_date {
    margin-top: 0.5rem;
    font-size: 1.4rem;
  }

  .dis .title {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .content {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
  }

  .content p {
    font-size: 1.4rem;
    line-height: 2.8rem;
  }

  .content h1 {
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .content h2 {
    font-size: 1.8rem;
    margin: 1.5rem 0;
  }

  .dis .link {
    margin-top: 3rem;
  }

  .dis .link a {
    font-size: 1.6rem;
    padding: 1rem;
  }
	.flex-img figure img {
    height: 12rem;
	}
}
