form {
  padding-top: 10%;
  width: 100%;
}

.error_message_contents p {
  font-size: 1.6rem;
  margin: 4rem 0;
}

.contact_wrap h4 {
  font-size: 2rem;
  margin: 4rem 0;
}

table,
tbody {
  display: block !important;
  width: 100%;
}
.confirm_contents p {
	font-size: 1.4rem;
	text-align: center;
	margin: 5rem 0 0 0;
}
.confirm_contents tr {
  border-top: 1px solid #c1d6d8;
  padding: 20px 0;
  display: block;
}
.confirm_contents tr:last-of-type {
  border-bottom: 1px solid #c1d6d8;
}
.confirm_contents th {
  font-size: 1rem;
  display: block;
  text-align: left;
}
.confirm_contents td {
  padding: 10px 0 10px;
  display: block;
  font-size: 18px;
}
.submit_send_button {
  padding-top: 6%;
}
.submit_send_button input {
  background-color: #0f86ff;
  border: none;
  color: #fff;
  width: 100%;
  padding: 24px 0;
  font-size: 1.125rem;
  cursor: pointer;
  -webkit-appearance: none;
}
.submit_send_button input + input {
  margin-top: 5%;
}

@media (min-width: 768px) {
  .main_contents.contact {
    width: 60.5%;
  }
  .confirm_contents tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .confirm_contents th {
    width: 28%;
    font-size: 1.2rem;
  }
  .confirm_contents td {
    width: 72%;
    padding: 0;
  }
}
