.projects {
  margin-top: 5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-gap: 5rem;

		li {
			box-shadow: 7px 7px 30px rgba(45, 72, 119, 0.2);
            border-radius: .8rem;
		}
  }

  .text {
		padding: 5rem;

    h4 {
      font-size: 2.4rem;
			font-weight: bold;
    }

    .description {
      margin-top: 1.8rem;

      .description_flex {
        border-top: 1px solid #c1d6d8;
        padding: 1rem 0;
        display: flex;
        align-items: center;

        &:last-child {
          border-top: 1px solid #c1d6d8;
          border-bottom: 1px solid #c1d6d8;
        }

        p {
          width: 45%;
          font-size: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
	#project {
		margin-top: 10rem;
	}
	.projects {
		margin-top: 3rem;
	}
	.projects .text h4 {
		font-size: 1.8rem;
	}
	.projects .text .description p {
		font-size: 1.4rem;
	}
}